The most comman way to join data using SQL is using an **inner join**. The syntax for inner join is:

```mysql
SELECT [column_names] FROM [table_name_one]
INNER JOIN [table_name_two] ON [join_constraint];
```
- <code><font color="red">INNER JOIN</font></code>, the name of the table to join in query 
- <code><font color="red">ON</font></code>, what columns to use to join the two tables
- <code><font color="red">FROM</font></code>, Joins usually used in query after

```mysql
SELECT * FROM facts
INNER JOIN cities ON cities.facts_id = facts.id
LIMIT 5
```

- <code><font color="blue">INNER JOIN cities</font></code>, Use inner join to join table <code><font color="blue">cities</font></code>
- <code><font color="blue">cities ON cities.facts_id = facts.id</font></code>, tells the SQL engine which columns to use when joining the data, following the syntax <code><font color="blue">table_name.column_name</font></code>


You might presume that ```SELECT * FROM``` facts will mean that the query returns only columns from the facts table, however the ```*``` wildcard when used with a join will give you all columns from both tables. Here is the result of this query:

This query gives us all columns from both tables and every row where there is a match between the id column from facts and the facts_id from cities, limited to the first 5 rows. We'll look at how the join itself works in detail in a moment, but first let's practice writing our first join.

<img src="schema.svg"/>


    id - A unique ID for each city.
    name - The name of the city.
    population - The population of the city.
    capital - Whether the city is a capital city: 1 if it is, 0 if it isn't.
    facts_id - The ID of the country, from the facts table.

<img src="inner_join.svg"/>

In [3]:
!ls

inner_join.svg	schema.svg  SQLITE3-Notes.ipynb